{% extends "index.html" %}
{% load staticfiles %}
{% block body %}
    <!-- banner part starts -->
    <section class="hero bg-image" data-image-src="{% static 'images/hero.jpg' %}">
        <div class="hero-inner">
            <div class="container text-center hero-text font-white">
                <h1>Order Delivery &amp; Take-Out </h1>
                <h5 class="font-white space-xs">Order your meals, snacks, drinks e.t.c from us</h5>
            </div>
        </div>
        <!--end:Hero inner -->
    </section>

    <div class="location-match text-xs-center">
        <div class="container">
            <span class="primary-color">{{restaurant_count}} Restaurants</span>
            <span> to Order From</span>            
        </div>
    </div>

    <section class="featured-restaurants">
        <div class="container">
            <div class="row">
                    <div class="col-md-4">
                    <div class="title-block float-left">
                        <h4>Restaurants to Order From</h4>
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- restaurants filter nav starts -->
                    <div class="restaurants-filter float-right">
                        <nav class="primary float-left">
                            <ul>
                                {% for cat in food_categories  %}
                                    <li>
                                        <a href="#" class="selected" data-filter="*">{{cat.name}}</a>
                                    </li>
                                {% endfor %}                                
                            </ul>
                        </nav>
                    </div>
                    <!-- restaurants filter nav ends -->
                </div>
            </div>

            <div class="row">
                {% for restaurant in restaurants  %}
                    <div class="col-12 col-md-6 col-lg-6 single-restaurant grill fish thaifood pizza">
                        <a href="menu.html">
                            <div class="restaurant-wrap">
                                <div class="row">
                                    <div class="col-12 col-sm-3 col-md-12 col-lg-3 text-xs-center">
                                        <img src="{{restaurant.logo.url}}" class="restaurant-logo" alt="Restaurant logo">
                                    </div>
                                    <div class="col-12 col-sm-9 col-md-9 col-lg-9">
                                        <h5>{{restaurant.name}}</h5>
                                        <span class="food-available">{{restaurant.categories.all | join:', '}}</span>
                                        <div class="bottom-part">
                                            <div class="mins">
                                                <i class="fa fa-motorcycle"></i>{{restaurant.address}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="popular">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="title-block float-left">
                        <h2>Top Meals</h2>
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- restaurants filter nav starts -->
                    <div class="restaurants-filter text-right">
                        <nav class="primary">
                            <ul>
                                {% for category in food_categories %}
                                    <li><a href="#">{{category.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    <!-- restaurants filter nav ends -->
                </div>
            </div>
            <div class="row"  id="meal-app">                
                <top-meal v-if="menus.length" v-for="menu in menus" v-bind:key="menu.id" v-bind:menu="menu"></top-meal>
            </div>
        </div>
    </section>

    <script>
        
        Vue.filter('media', function(value){
            return '/media/'+value;
        })

        Vue.filter('bgimage', function(value){
            return `background: url('/media/${value}') center center`
        })

        var top_meal = Vue.component('top-meal',{
            props:['menu'],
            template:`
            <div class="col-12 col-md-6 col-lg-4 food-item">
                    <div class="food-item-wrap">
                        <div class="figure-wrap bg-image" v-bind:style="menu.menu_image | bgimage">
                        </div>
                        <div class="content">
                            <h5>
                                <a href="menu.html" v-text="menu.food"></a>                                    
                            </h5>
                            <div class="product-name" v-text="menu.description"></div>
                            <div class="price-btn-block">
                                <span class="price" v-html="menu.price"></span>
                                <a href="#" class="btn theme-btn-outline float-right">Order Now</a>
                            </div>
                        </div>
                        <div class="restaurant-block">
                            <div class="left">
                                <a class="float-left" href="menu.html">
                                    <img :src="menu.restaurant_logo | media" alt="Restaurant logo"> </a>
                                <div class="float-left right-text">
                                    <a href="#" v-text="menu.restaurant"></a>
                                    <span v-text="menu.restaurant_address"></span>
                                </div>
                            </div>
                            <div class="right-like-part float-right">
                                <i class="fa fa-heart-o"></i>
                                <span v-text="menu.likes"></span>
                            </div>
                        </div>
                    </div>
                </div>
            `,
            data(){
                return{
                    likes:200,
                    styleObject: {
                        background: 'url("/media/chicken.jpg") center center'
                    }
                }
            }
        })

        var meal_app = new Vue({
            el:'#meal-app',
            components:{
                top_meal:top_meal,
            },
            data:{
                menus:[],
            },
            created: function(){ //once component is created, fetch menu items
                this.getMenus()
            },
            methods:{
                getMenus(){
                    var vm = this; //this keyword will not work inside axios
                    axios.get('/api/menus/')
                    .then(function(response){
                        vm.menus = response.data
                        alert('before mount: '+ this.menus.length)
                    })
                    .catch(function(error){
                        //alert('No menus could be loaded')
                    })
                }
            },           
            computed:{
                amenus: function(){
                    return this.menus
                }
            }
        })
    </script>
{% endblock body %}

