{% extends "index.html" %}
{% load staticfiles %}
{% block body %}
    
    <!-- banner part starts -->
    <section class="hero bg-image" data-image-src="{% static 'images/hero.jpg' %}">
        <div class="hero-inner">
            <div class="container text-center hero-text font-white">
                <h1>Order Delivery &amp; Take-Out </h1>
                <h5 class="font-white space-xs">Order your meals, snacks, drinks e.t.c from us</h5>
            </div>
        </div>
        <!--end:Hero inner -->
    </section>

    <div class="location-match text-xs-center">
        <div class="container">
            <span class="primary-color">{{restaurant_count}} Restaurants</span>
            <span> to Order From</span>            
        </div>
    </div>

    <section class="featured-restaurants">
        <div class="container">
            <div class="row">
                    <div class="col-md-4">
                    <div class="title-block float-left">
                        <h4 v-text="exam">Restaurants to Order From</h4>
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- restaurants filter nav starts -->
                    <div class="restaurants-filter float-right">
                        <nav class="primary float-left">
                            <ul>
                                {% for cat in food_categories  %}
                                    <li>
                                        <a href="#" class="selected" data-filter="*">{{cat.name}}</a>
                                    </li>
                                {% endfor %}                                
                            </ul>
                        </nav>
                    </div>
                    <!-- restaurants filter nav ends -->
                </div>
            </div>

            <div class="row">
                {% for restaurant in restaurants  %}
                    <div class="col-12 col-md-6 col-lg-6 single-restaurant grill fish thaifood pizza">
                        <a href="{% url 'restaurant:menu' id=restaurant.pk %}">
                            <div class="restaurant-wrap">
                                <div class="row">
                                    <div class="col-12 col-sm-3 col-md-12 col-lg-3 text-xs-center">
                                        <img src="{{restaurant.logo.url}}" class="restaurant-logo" alt="Restaurant logo">
                                    </div>
                                    <div class="col-12 col-sm-9 col-md-9 col-lg-9">
                                        <h5>{{restaurant.name}}</h5>
                                        <span class="food-available">{{restaurant.categories.all | join:', '}}</span>
                                        <div class="bottom-part">
                                            <div class="mins">
                                                <i class="fa fa-motorcycle"></i>{{restaurant.address}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="popular">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="title-block float-left">
                        <h2>Top Meals</h2>
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- restaurants filter nav starts -->
                    <div class="restaurants-filter text-right">
                        <nav class="primary">
                            <ul>
                                {% for category in food_categories %}
                                    <li><a href="#">{{category.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    <!-- restaurants filter nav ends -->
                </div>
            </div>
            <div class="row"  id="meal-app">                
                <top-meal v-if="menus.length" v-for="menu in menus" v-bind:key="menu.id" v-bind:menu="menu"></top-meal>
            </div>
        </div>
    </section>
    <script src="{% static 'js/app.bundle.js' %}"></script>
    
{% endblock body %}

