{% extends "index.html" %}
{% load staticfiles %}
{% block body %}
    <div class="page-wrapper" id="menu-page">
        <span id='restaurant_id' style="display:none;">{{restaurant.id}}</span>
        <span id='token' style="display:none;">{{token}}</span>
        <span id='csrftoken' style="display:none;">{% csrf_token %}</span>
        <!-- top Links -->
        <div class="top-links">
            <div class="container">
                <ul class="row steps">
                    <li class="col-sm-4 col-md-4 col-lg-4 col-12 link-item active">
                        <span>1</span>
                        <a href="index.html">Choose Your Restaurant</a>
                    </li>
                    <li class="col-sm-4 col-md-4 col-lg-4 col-12 link-item">
                        <span>2</span>
                        <a href="restaurants.html">Select your favourite food(s)</a>
                    </li>
                    <li class="col-sm-4 col-md-4 col-lg-4 col-12 link-item">
                        <span>3</span>
                        <a href="checkout.html">Order and Pay online</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end:Top links -->

        <!-- start: Inner page hero -->
        <section class="inner-page-hero bg-image" data-image-src="{% static 'images/hero.jpg' %}">
            <div class="profile">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12  col-md-4 col-lg-4 profile-img">
                            <div class="image-wrap">
                                <figure>
                                    <img src="{{restaurant.logo.url}}" alt="Profile Image">
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 profile-desc">
                            <div class="pull-left right-text white-txt">
                                <h6>
                                    <a href="#">{{restaurant.name}}</a>
                                </h6>
                                <a class="btn btn-small btn-green">Open</a>
                                <p>{{restaurant.categories.all | join:', '}}</p>
                                <ul class="nav nav-inline">
                                    <li class="nav-item">
                                        <a href="#">
                                            <i class="fa fa-motorcycle"></i> {{restaurant.address}} {{restaurant.town}}
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end:Inner page hero -->

        <div class="breadcrumb">
            <div class="container">
                <ul>
                    <li>
                        <a href="#" class="active">Home</a>
                    </li>
                    <li>
                        <a href="#">{{restaurant.name}}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container m-t-30">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                    <div class="sidebar clearfix m-b-20">
                        <div class="main-block">
                            <div class="sidebar-title white-txt">
                                <h6>Choose Meals</h6>
                                <i class="fa fa-cutlery pull-right"></i>
                            </div>
                            <ul>
                                <li>
                                    <a href="#headingTwo" class="scroll active">Rice</a>
                                </li>
                                <li>
                                    <a href="#headingTwo" class="scroll">Swallow</a>
                                </li>
                                <li>
                                    <a href="#headingTwo" class="scroll">Drinks</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6">
                    <div class="menu-widget m-b-30">
                        <div class="menu accordion" id="menuAccordion">
                            <category-item v-if="categories.length" v-bind:key="category.id" v-for="category in categories" v-bind:category="category">
                                <food-item v-on:get-orders="getOrders" v-for="food in category.foods" v-bind:key="food.id" v-bind:food="food"></food-item>
                            </category-item>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-3">
                    <div class="sidebar-wrap">
                        <div class="widget widget-cart">
                            <div class="widget-heading">
                                <h3 class="widget-title text-dark">
                                    Your Cart Bowl
                                </h3>
                                <div class="clearfix"></div>
                            </div>
                            <!-- order rows -->
                            <order-item v-for="order in orders" v-bind:key="order.id" v-bind:order="order" v-on:remove-item="removeItem"></order-item>
                            <!-- order row ends -->
                            <div class="widget-body">
                                <div class="price-wrap text-xs-center">
                                    <p>TOTAL</p>
                                    <h3 class="value">
                                        <strong v-text="grandTotal">N3,500</strong>
                                    </h3>
                                    <p>+ N300 Shipping Added</p>
                                    <button onclick="location.href='checkout.html'" type="button" class="btn theme-btn w-100">Checkout</button>
                                    <button type="button" class="btn btn-danger mt-2 w-100" @click="clearCart">Clear Cart</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>        
        </div>


    </div><!-- page wrapper end-->
    <script src="{% static 'js/menu.bundle.js' %}"></script>
{% endblock body %}